.wrap.lottery {
	position: relative;
	// width: 95%;
	padding: 0 2.5%;
	margin: 0 auto;
	background-repeat: repeat;
	background-position: 0 0;
	background-size: contain;
}
.lottery .btn-prize span {
	display: inline-block;
	float: right;
	margin: 10px;
	padding: 1px 8px;
	border-radius: 20px;
	color: #fff;
	background: #ffc600;
	font-size: 13px;
}
.lottery .chance {
	display: none;
	text-align: center;
	width: 200px;
	margin: 3px auto;
	border-radius: 10px;
	color: rgb(255, 255, 255);
	background-color: rgb(102, 102, 102);
}
.lottery .chance em {
	padding: 0 5px;
	color: #da3000;
	font-size: 16px;
	font-weight: bold;
}
.lottery .tbl {
	width: 100%;
	padding: 5px;
	border-radius: 10px;
	border-collapse: separate;
	border-spacing: 8px;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% 100%;

}
.lottery table td {
	position: relative;
	width: 33.333%;
	padding-top:30%;
	border-radius: 10px;
	background-color: #fff;
	text-align: center;
	box-shadow: 1px 1px 0px 2px #6394b4;
}
.lottery table td img {
	position:absolute;
	top:-20px; 
	bottom:0; 
	left:0; 
	right:0;
	width: 50%;
	margin: auto;
}
.lottery table td p {
	position:absolute;
	bottom:5px;
	width: 100%;
	height: 20px;
	margin: 8px auto 0;
	text-align: center;
	overflow: hidden;
	font-size: 12px;
}
.lottery table td.btn-draw {
	box-shadow: none;
	background: none;
}
.lottery table td.btn-draw img {
	background-color: rgba(0, 0, 0, 0);
	box-shadow: none;
	position: absolute;
	left: 1px;
	top: 3px;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	max-width: 300px;
	margin: auto;
}
.lottery td.active:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    border: solid 3px #ff7910;
    border-radius: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.lottery .m-prize {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
}
.m-prize .mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}
.m-prize .list {
	position: relative;
	width: 90%;
	height: 400px;
	margin: 25px auto;
	border-radius: 10px;
	background: #fff;
	/* overflow-y: scroll; */
	/* overflow-x: hidden; */
	overflow: hidden;
}
.m-prize .list .list-cnt {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}
.m-prize .list .detail {
	display: flex;
	height: 100%;
}
.m-prize .list .desc {
	margin-left: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.m-prize .list .item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75px;
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
}
.m-prize .item .fig {
	width: 85px;
	height: 100%;
	flex: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.m-prize .item .name {
	max-width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
}
.m-prize .item .date {
	color: #676767;
	font-size: 12px;
}
.m-prize .item .btn {
	display: inline-block;
	margin-right: 10px;
	padding: 2px 8px;
	border: 1px solid #7fa7c3;
	border-radius: 5px;
	font-size: 12px;
	color: #7fa7c3;
}
.m-prize .hd {
	padding: 15px;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
	color: #666;
}
.m-prize .ft {
	color: #333;
	text-align: center;
	line-height: 3;
}
.m-prize .close {
	position:relative;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border: 1px solid #fff;
	border-radius: 50%;
}
.m-prize .close::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	width: 35px;
	height: 1px;
	background: #fff;
	transform: translate(-50%) rotate(-45deg);
}
.m-prize .close::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	width: 35px;
	height: 1px;
	background: #fff;
	transform: translate(-50%) rotate(45deg);
}
.m-prize .child-wrap {
	height: 0;
	overflow: hidden;
}
.m-prize .child-cnt {
	background: #eee;
}
.m-prize .child-cnt:first-child {
	box-shadow: 0 3px 6px 0 #ddd inset;
}
.m-prize .child-cnt:last-child {
	box-shadow: 0 -3px 6px 0 #ddd inset;
}
.m-prize .child-cnt:only-child {
	box-shadow: 0 0 6px 3px #ddd inset;
}
.m-prize .child-cnt .name {
	text-overflow: inherit;
	white-space: normal;
}
.m-slider {
    position: fixed;
    display: none;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, .5); */
    text-align: center;
    z-index: 2000;
}
.m-slider .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}
.m-slider .cnt {
    width: 90%;
    margin: 20px auto;
}
.m-slider .container {
    position: absolute;
    width: 90%;
    height: 120px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.m-slider .btn-slide {
    height: 40px;
    line-height: 40px;
    background: #15a4d5;
    border-top: 2px dotted #e8e8e8;
    box-sizing: border-box;
}

.warning {
    display: none;
    width: 280px;
    height: 65px;
    line-height: 65px;
    margin: 0 auto;
    border-radius: 8px;
    color: #fff;
    background: rgba(91, 19, 22, 0.7);
    font-size: 16px;
    text-align: center;
}

.cui-roller-btns .cui-flexbd:not(.myPopup_cancel) {
    width: 230px !important;
    background: rgb(253, 131, 12);
    flex: none;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
    line-height: 10px;
    color: rgb(255, 255, 255) !important;
}

.cui-btns-cancel.myPopup_cancel {
    position: absolute;
    top: -10px;
    right: 4px;
    border: none !important;
    width: 10px;
    font-size: 15px;
    transform: scale(1.2, 1);
    color: #C1C1C1;
}

.cui-roller-btns {
    border: none!important;
}

.cui-bd {
    position: relative;
}
.modalDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    background: transparent;
}

.m-qrcode {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	background: #fff;
	transform: translateX(100%);
	transition: all .3s linear;
	overflow-y: scroll;
}
.m-qrcode .back {
	display: flex;
	align-items: center;
	position: relative;
	width: 70px;
	height: 50px;
}
.m-qrcode .back .icon-carrot {
	margin: 0;
}
.m-qrcode .code-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.m-qrcode .code-wrap .desc {
	color: #666;	
	font-size: 12px;
	text-align: center;
}
.m-qrcode .qrcode {
	margin: 10px 0;
}
.m-qrcode .barcode img {
	display: block;
	min-width: 90%;
	max-width: 100%;
}
.m-qrcode .tt {
	text-align: center;
	font-weight: bold;
}
.m-qrcode .desc-wrap {
	padding: 0 10px;
}
.icon-carrot {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 10px;
	transition: all .15s linear;
	transform: rotate(0);
}
.icon-carrot::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	width: 8px;
	height: 8px;
	border-top: 1px solid #666;
	border-right: 1px solid #666;
	-webkit-transform: translate(-50%,-50%) rotate(-45deg);
	-ms-transform: translate(-50%,-50%) rotate(-45deg);
	transform: translate(-50%,-50%) rotate(-45deg);
}
.carrot-d {
	transition: all .15s linear;
	transform: rotate(180deg);	
}
.carrot-r {
	transform: rotate(90deg);	
}
.carrot-l {
	transform: rotate(-90deg);	
}
@media screen and (max-height: 480px) {
	.m-prize .list {
		transform: scale(.8);
		transform-origin: 50% 0;
	}
	.m-prize .close {
		transform: translateY(-150%);
	}
}